.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #c8d0d2;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: limegreen;
  border-radius: .65rem;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, .5);
  transform-style: preserve-3d;
  height: 250px;
  width: 250px;
  transition: 400ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
  translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba( 0, 0, 0, .8);
}

.card.cardFlip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.image {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 140px;
 
}
